<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!--                     no tocar                         -->
    <header> 
        <div class="banner">
            <img src="/img/logo.png">

            <a href="home"> Inicio  </a> 
            <a id="separador"> | </a> 
            <a href="compras"> Tratamientos  </a> 
            <a id="separador"> | </a> 
            <a href="productos"> Productos  </a> 
            <a id="separador"> | </a> 
            <a href="registro"> Contacto  </a> 
            <a id="separador"> | </a> 
            <a href="login"> Cuenta </a>
           
            <div class="search">
            <input id="searchbar" type="text" placeholder="Buscar">
            <button onclick="myFunction()" class="fas fa-search-dollar"></button>
            </div>
        </div>
    </header>
<!--          header no tocar             -->
           <!--    escribir -->
           <div class="container">
            <div class="imagen">
                <img src="/img/producto.png" alt="Aquí va una foto">
            </div>        
            <div class="detail">
                <h1>Crema Facial Dermaglós</h1>
                <p><strong>Accion </strong> Hidratante de Día Fps 12 x 50 g
                </p>
                <p><strong>País: </strong>Francia</p>
                <p><strong> Descripción: </strong> Detalles
                    Crema hidratante para el día aporta importantes beneficios de hidratación gracias a la acción equilibrada de sus componentes.
                    Beneficios:
                    Fórmula con vitaminas A y E que protege y proporciona a la piel la hidratación necesaria durante el día para tener siempre una piel joven. Contiene FPS 12 para una mayor protección a tu piel.
                    Modo de Uso:
                    Aplicar cada mañana sobre rostro, cuello y escote perfectamente limpios. Masajear suavemente con movimientos circulares ascendentes. Usar sola o como base de maquillaje. Evitar el contacto con los ojos. </p>
                <a href="/"><button>Volver</button></a>
            </div>
        </div>


 <!--         no tocar footer                   -->
    <footer>

        <div class="footerContainer">
            <div class="medios"> 
                <h1> MEDIOS DE PAGO </h1>
                <img src="/img/mediosdepago.png">
            </div>
            <div class="redes"> 
                <h1> SEGUINOS </h1>
                <ul>
                    <li> <i class="fab fa-facebook-f"></i> <a href="#"> dyn.medicinaestetica </a> </li>
                    <li> <i class="fab fa-instagram"></i> <a href="#"> dyn.estetica </a> </li>
                    <li> <a> Telefono XXXX-XXXX</a></li>
                    <li> <a> Mail xxxxxx@gmail.com</a></li>
                    <li> <a> Dirección xxxxx </a></li>
                </ul>
            </div>
        </div>

    </footer>
                          <!--             no tocar                      -->

</body>
</html>
