<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!--                     no tocar                         -->
    <header> 
        <div class="banner">
            <img src="/img/logo.png">

            <a href="home"> Inicio  </a> 
            <a id="separador"> | </a> 
            <a href="compras"> Tratamientos  </a> 
            <a id="separador"> | </a> 
            <a href="productos"> Productos  </a> 
            <a id="separador"> | </a> 
            <a href="registro"> Contacto  </a> 
            <a id="separador"> | </a> 
            <a href="login"> Cuenta </a>
           
            <div class="search">
            <input id="searchbar" type="text" placeholder="Buscar">
            <button onclick="myFunction()" class="fas fa-search-dollar"></button>
            </div>
        </div>
    </header>
<!--          header no tocar             -->
           <!--    escribir -->
           <div class="container">
            <div class="imagen">
                <img src="/img/alquimia-1.jpg" alt="Aquí va una foto">
            </div>        
            <div class="detail">
                <h1>ALQUIMIA</h1>
                <p><strong>Precio: </strong>$2,500.00</p>
                <p><strong>Sucursal: </strong>Belgrano</p>
                <p><strong>Resenia: </strong> Equipos tanto para tratamientos corporales como faciales. 
                    Estudiamos los últimos avances de la ciencia y de la tecnología y, trabajando con un calificado equipo de ingenieros y de expertos médicos, desarrollamos equipos de excelencia y alta confiabilidad, siempre a precios competitivos..</p>
                <a href="/"><button>Add compras</button></a>  
                <a href="/"><button>Volver</button></a>
            </div>
        </div>

 <!--         no tocar footer                   -->
    <footer>

        <div class="footerContainer">
            <div class="medios"> 
                <h1> MEDIOS DE PAGO </h1>
                <img src="/img/mediosdepago.png">
            </div>
            <div class="redes"> 
                <h1> SEGUINOS </h1>
                <ul>
                    <li> <i class="fab fa-facebook-f"></i> <a href="#"> dyn.medicinaestetica </a> </li>
                    <li> <i class="fab fa-instagram"></i> <a href="#"> dyn.estetica </a> </li>
                    <li> <a> Telefono XXXX-XXXX</a></li>
                    <li> <a> Mail xxxxxx@gmail.com</a></li>
                    <li> <a> Dirección xxxxx </a></li>
                </ul>
            </div>
        </div>

    </footer>
                          <!--             no tocar                      -->

</body>
</html>
